
p {
    font-size: x-large;
}
h1 {
    text-align: center; font-size: xx-large; color: yellow;
}

.idk{
    text-align: center; font-size: x-large;
}

#idk-2{
font-size: medium; text-align: left; 
}

